In [10]:
import pandas as pd
from anonymizedf.anonymizedf import anonymize

In [12]:
df_contacts = pd.read_csv('Datos_Microdesafio_Semana8_DE.csv', sep=';', parse_dates=['Fecha'])
df_contacts.head()

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474

In [17]:
# initialize anonymizer
an = anonymize(df_contacts)

# replace columns with fake data
fake_df = (an.fake_names("Comisionado", chaining=True)
.fake_whole_numbers("Telefono", chaining=True)
.fake_dates("Fecha", chaining=True)
.show_data_frame())

In [18]:
fake_df.head()

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Telefono,Fake_Fecha
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Kerry Owen,22149767,1981-02-05
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Kayleigh Marsden,17530720,2006-09-19
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Andrea Clark,69488805,1984-02-15
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Toby Pearson,79225792,1970-02-12
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Marion Simpson,47596209,2011-08-12